@page "{ThreadId:int}"
@model TylerMelvin_DiscussionBoard.Pages.DiscussionModel
@using TylerMelvin_DiscussionBoard.Models
@{
    ViewData["Title"] = "Discussion Post - " + Model.DiscussionThread.Title;
}

<div class="container">
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title">@Html.Raw(Model.DiscussionThread.Title) by @Model.DiscussionThread.ApplicationUser?.ToString()</h5>
        </div>
        <div class="card-body">
            <p class="card-text">@Html.Raw(Model.DiscussionThread.Content)</p>
            <a href="/Reply/@Model.ThreadId" class="text-decoration-none">
                <button class="btn btn-outline-primary">
                    <!-- reply icon svg simplified -->
                    Reply
                </button>
            </a>
            <br /><hr />
            @* Posts hierarchy *@
            @if (Model.DiscussionThread.Posts != null && Model.DiscussionThread.Posts.Count > 0)
            {
                foreach (var p in Model.DiscussionThread.Posts)
                {
                    <partial name="_PostTreeView" model="p" />
                }
            }
            else
            {
                <p>No replies yet.</p>
            }
        </div>
    </div>
</div>